@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">In order to access the other features of this page, please login.  If your school does not have a login, register your school.</p>
</div>